*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #e0daa5);
}

.up{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        background: #e6dda3;
        width: 360px;
        height: 310px;
        padding: 25px 30px;
        border-radius: 16px;
        margin-top: 40px;
        box-shadow: 
            0 10px 25px rgba(0, 0, 0, 0.15),
            0 4px 10px rgba(0, 0, 0, 0.08);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover{
            transform: translateY(-5px);
           box-shadow: 
            0 18px 40px rgba(0, 0, 0, 0.2),
            0 6px 15px rgba(0, 0, 0, 0.1);
        }
        >h3{
            width: 90%;
            height: 60px;
            font-size: 22px;
            color: #79561c;
            margin-bottom: 20px;
            text-align: center;
        }
        >ul{
            list-style: none;
            margin-bottom: 20px;
            width: 100%;
            height: 130px;
            >li{
                background: #d8c072;
                width: 100%;
                height: 33px;
                padding: 12px 15px;
                border-radius: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                transition: all 0.25s ease;
                box-shadow: inset 0 0 0 2px transparent;
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 19px;
                color: #845915;
               &:hover{
                  background-color: #dfa759;
                  box-shadow: inset 0 0 0 2px rgba(71, 42, 5, 0.6);
               }
            }
        }
        >button{
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 12px;
            background: linear-gradient(135deg, #734b0b);
            color: #f0e699;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0 6px 15px rgba(128, 55, 7, 0.6);
            transition: all 0.3s ease;
            &:hover{
                transform: translateY(-2px);
                box-shadow: 0 10px 25px rgba(119, 84, 11, 0.6);
            }
            &:active{
                transform: translateY(0);
                box-shadow: 0 5px 10px #573505;
            }
        }
    }
    
}
.down{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    >.footer{
        width: 35%;
        height: 100%;
        position: relative;
        margin-bottom: 10px;
        >.ax{
            width: 160px;
            height: 175px;
            position: absolute;
            top: 20px;
            left: 20px;
            border-radius: 50%;
            z-index: 2;
            >figure{
                width: 100%;height: 100%;
                >img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;

                }
            }
        }
    }
}
.active{
    background-color: #aa8e71ba !important;
}
.true{
    background-color: rgba(96, 186, 96, 0.718) !important;
}
.false{
    background-color: rgb(196, 110, 110) !important;
}

.card{
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 30% 0%);
    color: rgb(226, 226, 244);
    width: 400px;
    height: 150px;
    background-color: #573505;
    position: absolute;
    top: 75px;
    left: 65px;
    >.social{
        width: 100%;
        height: 31%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        >span{
            font-size: 20px;
            margin-left: 10px;
            color: #e6dda3;
        }
        >a{
            font-size: 20px;
            text-decoration: none;
            color: #e6dda3;
            margin-left: 10px;
        }

    }
}
